<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/dashboard}">
<head>
    <meta charset="UTF-8">
    <title>Footballer Form</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" type="text/css">
</head>
<body>

<div class="container-fluid " layout:fragment="content">

    <form action="#" method="post" th:action="@{/submit-footballer}">
        <div class="row  mx-auto col-10 col-md-8 col-lg-6 ">
            <div class="form-group row">
                <label class="col-12 col-form-label " for="firstname">First Name: </label>
                <div>
                    <input class="form-control" th:field="${new_footballer.firstname}" type="text">
                </div>
                <span th:class="text-danger" th:if="${#fields.hasErrors('new_footballer.firstname')}" th:errors="*{new_footballer.firstname}"></span>
            </div>

            <div class="form-group row">
                <label class="col-12 col-form-label" for="lastname">Last Name: </label>
                <div>
                    <input class="form-control" th:field="${new_footballer.lastname}" type="text">
                </div>
                <span th:class="text-danger" th:if="${#fields.hasErrors('new_footballer.lastname')}" th:errors="*{new_footballer.lastname}"></span>
            </div>

            <div class="form-group row">
                <label class="col-12 col-form-label" for="salary">Salary: </label>
                <div>
                    <input class="form-control" th:field="${new_footballer.salary}" type="number">
                </div>
                <span th:class="text-danger" th:if="${#fields.hasErrors('new_footballer.salary')}" th:errors="*{new_footballer.salary}"></span>
            </div>

            <div class="form-group row">
                <label class="col-12 col-form-label" for="birthday">Birth Day: </label>
                <div>
                    <input class="form-control" th:field="${new_footballer.birthday}" type="date">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-12 col-form-label" for="position">Position: </label>

                <div>
                    <select class="form-control" th:field="${new_footballer.position}" >
                        <option value = "FW">FW</option>
                        <option value = "MF">MF</option>
                        <option value = "DF">DF</option>
                        <option value = "GK">GK</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-12 col-form-label" for="team">Team: </label>
                <div>
                    <select class="form-control" th:field="${new_footballer.teamId}" >
                        <option th:each="team : ${teams}" th:value="${team.id}" th:text="${team.name}"></option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-12 col-form-label" for="captain">Captain </label>
                <div>
                    <input  type="checkbox" name="isCaptain" class="form-check-input"  th:checked="${isCaptain}">
                </div>
            </div>

            <div class="form-group row ">
                <button class="btn btn-primary" type="submit">
                    Submit
                </button>
            </div>

        </div>
    </form>

</div>

</body>

<script th:src="@{/bootstrap/js/bootstrap.min.js}"/>

</html>