<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update Footballer</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" type="text/css">
</head>
<body>

<div class="container-fluid ">

    <form action="#" method="post" th:action="@{/footballer-update}">
        <div class="row  mx-auto col-10 col-md-8 col-lg-6 ">

            <input type="hidden" th:field="${footballer_to_be_updated.id}" />

            <div class="form-group row">
                <label class="col-12 col-form-label " for="firstname">First Name: </label>
                <div>
                    <input class="form-control" th:field="${footballer_to_be_updated.firstname}" type="text">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-12 col-form-label" for="lastname">Last Name: </label>
                <div>
                    <input class="form-control" th:field="${footballer_to_be_updated.lastname}" type="text">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-12 col-form-label" for="salary">Salary: </label>
                <div>
                    <input class="form-control" th:field="${footballer_to_be_updated.salary}" type="number">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-12 col-form-label" for="birthday">Birth Day: </label>
                <div>
                    <input class="form-control" th:field="${footballer_to_be_updated.birthday}" type="date">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-12 col-form-label" for="position">Position: </label>

                <div>
                    <select class="form-control" th:field="${footballer_to_be_updated.position}" >
                        <option value = "FW">FW</option>
                        <option value = "MF">MF</option>
                        <option value = "DF">DF</option>
                        <option value = "GK">GK</option>
                    </select>
                </div>

            </div>

            <div class="form-group row">
                <label class="col-12 col-form-label" for="team">Team: </label>
                <div>
                    <select class="form-control" th:field="${footballer_to_be_updated.team.id}" >
                        <option th:each="team : ${teams}" th:value="${team.id}" th:text="${team.name}"></option>
                    </select>
                </div>
            </div>

            <div class="form-group row ">
                <button class="btn btn-primary" type="submit">
                    Submit
                </button>
            </div>

        </div>
    </form>

</div>

</body>

<script th:src="@{/bootstrap/js/bootstrap.min.js}"/>

</html>