<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/dashboard}">

<head>
    <meta charset="UTF-8">
    <title>Teams</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" type="text/css">
</head>
<body>
<div class="card shadow mb-4" layout:fragment="content">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Teams</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" >
                <thead>
                    <td>Team Name</td>
                    <td>Players</td>
                    <td>Location</td>
                    <td>Date of Foundation</td>
                    <td>Coach</td>
                    <td>Captain</td>
                    <td>League</td>
                    <td>Actions</td>
                </thead>
                <tbody>
                <tr scope="row" th:each="team : ${teams}">
                    <td th:text="${team.name}"></td>
                    <td th:text="${team.playerCount}">
                    <td th:text="${team.location}"></td>
                    <td th:text="${team.foundationDate}"></td>
                    <td th:text="${team.coach}"></td>
                    <td th:text="${team.captainName}"></td>
                    <td th:text="${team.leagueName}"></td>
                    <td>
                        <button type="button" class="btn btn-primary"
                                th:onclick="|window.location.href='/team-update-form?id=${team.id}'|">
                            Edit
                        </button>

                        <button type="button" class="btn btn-danger"
                                th:onclick="|window.location.href='/delete-team?id=${team.id}'|">
                            Delete
                        </button>

                        <button type="button" class="btn btn-success"
                                th:onclick="|window.location.href='/view-team?id=${team.id}'|">
                            View
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>

<script th:src="@{/bootstrap/js/bootstrap.min.js}"/>

</html>