<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Teams</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" type="text/css">
</head>
<body>
<h1>Teams</h1>

<div class="container-fluid ">
    <div class="row col-lg-6  ">
        <table class=" table table-primary table-striped table-bordered ">
            <thead>
            <td>Team ID</td>
            <td>Team Name</td>
            <td>Players</td>
            <td>Location</td>
            <td>Date of Foundation</td>
            <td>Coach</td>
            <td>Captain</td>
            <td>League</td>

            </thead>
            <tbody>
            <tr scope="row" th:each="team : ${teams}">
                <td th:text="${team.id}"></td>
                <td th:text="${team.name}"></td>
                <td th:text="${team.getPlayersCount}">
                <td th:text="${team.location}"></td>
                <td th:text="${team.foundationDate}"></td>
                <td th:text="${team.coach}"></td>
                <td th:text="${team.getCaptainFirstName + ' ' + team.getCaptainLastName}"></td>
                <td th:text="${team.leagueName}"></td>
            </tr>
            </tbody>
        </table>

    </div>
</div>

<br>

<div th:each="team : ${teams}">
    <div class=" container-fluid ">
        <div class="row col-lg-6  ">

            <h2 th:text="${team.name}"></h2>

            <table class="table table-info table-striped table-bordered ">
                <thead>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Position</td>
                </thead>

                <tbody>
                <tr th:each="player : ${team.players}">
                    <td th:text="${player.firstname}"></td>
                    <td th:text="${player.lastname}"></td>
                    <td th:text="${player.position}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>

<script th:src="@{/bootstrap/js/bootstrap.min.js}"/>

</html>